<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pkmx.gyromouse"
          android:versionCode="0"
          android:versionName="0">
    <uses-sdk android:minSdkVersion="21"
              android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="GyroMouse"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Material.NoActionBar.TranslucentDecor"
                 android:allowBackup="true">
        <activity android:name=".MainActivity"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".GyroMouseService" />
    </application>
</manifest>
